
/*OVERALL STYLES*/

@font-face{
	font-family: GTWalsheim;
	src: url("http://tonetree.com/assets/fonts/GT Walsheim Regular.otf");
}

html,body{
	font-family: 'GTWalsheim', 'OpenSans';
	font-size: 12px;
	height: 100%;
	width:100%;
	color: black;
	overflow-x: hidden;
	min-height:100%;
	background-color: #000000;
	color: #cccccc;
}

b{
	font-weight: bold;
}

i{
	font-style: italic;
}

h2{
	padding-top: .5em;
	font-size: 4em;
	text-align: center;

}

#content{

}

/*Preorder Button*/
#kickstarter-button{
	position: absolute;
	float: right;
	bottom: 0;
	background-color: #0F2105;
	padding-left: 4em;
	padding-right: 5em;
	padding-top: .5em;
	padding-bottom: .5em;
	border-top-right-radius: 5px;
	cursor: pointer;
}
#kickstarter-button p{
	font-size: 1.5em;
	padding-bottom: .2em;
}
#kickstarter-button img{
	height: 2.5em;
	display: block;
}

#hidden--{
	display:none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 150px;
	background: rgba(0,0,0, .5);
	font-size: 2em;
}

#hidden-signup #mce-EMAIL{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#hidden-signup #mc-embedded-subscribe{
	display: block;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
}

.mailinglist{
	color: #ffffff;
	font-size: 1.2em;
	background-color: #222222;
	width: 450px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .8em;
	padding-bottom: .25em;
	border-radius: 5px;
}
.mailinglist h5{
	padding-top: 1em;
	padding-bottom: .8em;
	font-size: .5em;
}

#exit-button{
	position: relative;
	left: 1025px;
	cursor: pointer;
}
#exit-button img{
	height: 36px;
}


/*Main Navigation*/

#nav-bar{
	display: block;
	height: 2.9em;
	width: 100%;
	background-color: #ffffff;
	z-index: 5;
	padding-bottom: .em;
	position: fixed;
	top: 0;
	opacity: .85;
	padding-bottom: .6em;
}

.anchor #mailing-list-nav-jump {
  display: block;
  height: 2.9em; /*same height as header*/
  margin-top: -2.9em; /*same height as header*/
  visibility: hidden;
}

#nav-logo{
	display:inline-block;
	opacity: 1;
}

#nav-logo img{
	margin-left: 3em;
	margin-top: .3em;
	height: 2.8em;
}

#main-nav{
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
	margin-left: 2em;
}
	
#main-nav ul li{
	display: inline-block;
	font-size: 1.4em;
	margin-left: 1.25em;
	margin-right: 1.25em;
}


#main-nav a{
	text-decoration: none;
	transition: all .2s ease;
	color: #333333;
	opacity: 1;
}

#main-nav > ul > li:nth-child(1) > a:hover {
	color: #e9004b;
}

#main-nav > ul > li:nth-child(2) > a:hover {
	color: #05ce7b;
}

#main-nav > ul > li:nth-child(3) > a:hover {
	color: #ff9300;
}

#main-nav > ul > li:nth-child(4) > a:hover {
	color: #003ca6;
}

/*PAGES*/

/*LANDING PAGE*/
#landing-page{
	background-color: black;
	width: 100%;
	height:100%;
}


#landing-page video {
	transform: translateX(-130%) translateY(-120%);
	top:120%;
	left:130%;
	position: absolute;
	min-width: 50%;
	min-height: 50%;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity:.6;
}

#SocialMediaIcons{
	padding-top: .1em;
	font-size: 4em;
	vertical-align: middle; 
}
#SocialMediaIcons a{
	text-decoration: none;
}

#SocialMediaIcons img{
	text-decoration:0 none;
	border:0 none;
	padding-left: .3em;
	width: .7em;
	display: inline-block;
}

#OakLogo{
	/*margin-top: -3em;*/
	margin-bottom: 2em;
	font-size: 2.5em;

}

#landing-page content{
	padding-top: 3em;
	padding-left: 3.5em;
	padding-right: 3.5em;
	font-family:"GTWalsheim";
	z-index: 100;
	font-size: 1.4em;
	width:54%;
	color: white;
	position:absolute;
	text-align: left;
}

#landing-page content h2{
	text-align: left;
	width: 80%;
	font-size: 2em;
	margin-bottom: 1em;
}

#landing-page content p{
	color: #eeeeee;
	margin-bottom: 1.5em;
}

#landingmc_embed_signup{
	position: relative;
	z-index: 100;
	margin-top: 1em;
	font-size: 2em;
	cursor: pointer;
}

#landingmc-embedded-subscribe-form{

}
#landingmc_embed_signup_scroll{
display: inline-block;

}
#landingmce-EMAIL{
	font-family: "GTWalsheim";
	font-size: .5em;
	border: 0 none;
}
#landingmc-embedded-subscribe{
	font-family: "GTWalsheim";
	font-size: .5em;
	font-weight: normal;
	color: white;
	background-color: #e9004b;
	border: 0 none;
	-webkit-appearance: none;
}

#landingmc_embed_signup #mce-responses{
	font-size: .7em;
	width: 80%;
}


/*HOME*/

article.featured{
	position:relative;
	max-height: 100%;
	clear: both;
	/*background: url("../assets/1.png") center top; 
	background-size: cover;*/
}


article.featured h1{
	padding-top: 3.2em;
	font-size: 4.8em;
	max-width: 850px;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	color: #333333;
}

article.featured h2{
	padding-top: 1.6em;
	font-size: 2.2em;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	max-width: 600px;
	color: #333333;
}

article.featured h3{
	padding-top: 1.5em;
	font-size: 2.5em;
}


video.video-bg {
    z-index: -100;
    height:100vh;
}

.popup-video-button{
	width: 20%;
	/*height: 30%;*/
	margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    margin-bottom: -33%;
    position: relative;
    display: block;
	cursor: pointer;
	z-index: 100;
}

#hidden-video{
	cursor: pointer;
	display:none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 2em;
	padding-left: 10%;
	z-index: 999999;
	background-color: rgba(34,34,34,.95);
}

#left-line{
	position: static;
	top: 45.9em;
	left: 23.4em;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333333;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	border-radius: 5px;
}
#right-line{
	position: static;
	top: 45.9em;
	left: 23.4em;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333333;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	border-radius: 5px;
}
#divider{
	min-height: 4.5em;
	background-color: #111111;
}

#divider li{
	display: inline-block;
	font-size: 1.7em;
	padding-top: .8em;
	padding-left: 2em;
	color: #cccccc;
}

#section-divider{
	min-height: 1em;
		width: 100%;
	background-color: #222222;
}

#section-divider-product{
	margin-top: -.15em;
	height: 15em;
	background-color: #e9004b;
	position: relative;
	vertical-align: middle;
	text-align: center;
}


#section-divider-product h2{
	color: #ffffff;
	font-size: 3.5em;
	padding-bottom: .2em;
	margin-left: 50px;
}

#section-divider-product p{
	color: #ffffff;
	font-size: 2em;
}

#section-divider-product .oak-logo {
	position: absolute;
	height: 50px;
	width: 50px;
	margin-top: 19px;
	margin-left: -70px;
}

.button5 {
	position: absolute;
	border-radius: 30px;
	border: 0px;
	height: 35px;
	width: 180px;
	background-color: #ffffff;
	color: #e9004b;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: -80px;
	text-align: center;
}

.button-holder a{
	text-decoration:none;
}

.button-holder .button5 {
	padding-top: .8em;
}

.button-holder a:hover {
	cursor:pointer;
	opacity:.8;
}

/*OAK and How it Works SECTION*/
#oak{
	background: url("../assets/images/HowItWorks.png") bottom;
	background-size: cover;
	text-align: center;
	display: block;
	height:45em;
	max-width:100%;
}

#oak img {
	max-width:100%;
}
#oak h1 {
	color: #333333;
	font-size:4em;
	text-align: center;
	padding-top: 1em;
}

#oak p{
	display: inline-block;
	padding-top: 1em;
	font-size: 1.7em;
	margin-bottom: 0em;
	padding-left: 1em;
	padding-right: 1em;
	clear: none;
	text-align:center;
	color: #333333;
	width:80%;
	line-height:1.5em;
}



/*Mailing List Signup CTA*/

#section-divider-product2{
	background-color: #e9004b;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 0em;
	margin-top: -4px;
}

#mc_embed_signup{
	width: 100%;
	background-color: #e9004b;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}

#mc_embed_signup h2{
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	margin-left:1.5em;
	padding-right: 1em;
	padding-bottom:.6em;
}

#mc_embed_signup label{
	font-size:.9em;
	padding-top: .25em;
}

#mc_embed_signup #mc-embedded-subscribe{
	display: inline-block;
	/*vertical-align: center;*/
	background-color: #333333;
    border: 0 none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    width:100px;
	margin-right: 1em;
	padding-bottom: .5em;
	padding-top: .5em;
	margin-top: 1.3em;
	margin-left: .8em;
	-webkit-appearance: none;
}

#mc_embed_signup .button:hover{
	background-color: #F8004b;
}

input[type="checkbox"]{
	vertical-align: middle;
	margin-top: 0em;
	padding-top: .25em;
}

input[type="email"]{
	height:2em;
	width:14em;
}

#mc_embed_signup ul{
	font-size: 1.8em;
	display: inline-block;
	vertical-align: middle;
	padding-top: .25em;
}

input[type="submit"]{
	margin-top: 1em;
	cursor: pointer;
}

/*KITS*/

#kits{
	width: 100%;

}

#kit-block{
	width:100%;
	font-size: 0;
	text-align: center;
	display: table;
}

.video-gif{
	width: 100%;
	/*height: 100%;*/
	/*min-height: 300px;*/
	/*height: 100%;*/
	display: table-cell;
}
.kit-text{
	color: #ffffff;
	font-size: 14px;
	width:50%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.kit-text h2{
 	margin-bottom: .5em;
 	font-size: 3.8em;
}

.kit-text p{
	margin-left: 3.5em;
	margin-right: 3.5em;
	margin-bottom: 2em;
	font-size: 1.3em;
}


#kits a {
	text-decoration: none;
}

.button{
	display: inline-block;
	font-size: 1em;
	border-radius: 30px;
	background-color: #ffffff;
	color: #666666;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}


/*TIMELINE*/

#timeline{
	min-height: 390px;
	background: url("../assets/tablebirch2.jpg") center center;
	background-size: cover;
}

#timeline img{
	float:right;
	/*height: 170px;*/
	width: 60%;
	margin-top: 9.5em;
	margin-right: 9em;
}


/*TEAM*/

#team{
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 0em;
	padding-right: 0em;
}

#team h1 {
	font-size:3em;
	text-align: center;
}

#team h2{
	margin-top: 0em;
	font-size: 1.4em;
}

#team img{
	width: 60%;
	border-radius: 500px;
}

.bio-box{
	display: inline-block;
	width: 22%;
	margin-top: 3.5em;
	min-width: 180px;
}


/*CONTACT FORM*/

#contact{
	color: #ffffff;
	background-color: #555555;
	background-size: cover;
	min-height: 500px;
}

#contact h2{
	padding-top: 1.2em;
	font-size:3em;
	text-align: center;

}

#sendEmail{
	margin-left: 10em;
	margin-right: 10em;
	padding-bottom: 1em;
}

input[type="text"] {
  padding-left: 5px;
  padding-bottom: 0px;
  margin-top: 1em;
  font-size: 1.8em;
  border: none;
  border-bottom: solid 1.5px #ffffff;
  /*transition: border 0.3s;*/
   background: transparent;
   outline: none;
   width: 100%;
   color: #ffffff;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 1.5px #969696;
}

textarea{
	width: 99%;
	font-size: 1.5em;
	margin-top: 1em;
	background: transparent;
	border: solid 1.5px #ffffff;
	border-radius: 1px;
	min-height: 180px;
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
}

::-webkit-input-placeholder {
   color: #cccccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cccccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cccccc;
}

:-ms-input-placeholder {  
   color: #cccccc; 
}

button[type="submit"]{
	margin-top: .43em;
	float:right; 
	background-color: #ffffff;
	border: none;
	border-radius: 2px;
	height: 50px;
	width: 100px;
	font-size: 1.8em;
	padding: none;
	color: #00000;
}

.g-recaptcha{
	margin-top: .7em;
	margin-bottom: -1.8em;
	margin-right: 0;
}


#sucess{
	padding-top: 11em;
}
#sucess h2{
	margin-left: 1em;
	margin-right: 1em;
}

#sucess h3{
	display: block;
	margin-top: 1em;
	font-size: 2.5em;
	text-align: center;
}

/*JOBS*/

#jobs{

}

#jobs .header{
	background: url("../assets/mallets.jpg") center center;
	background-size: cover;
	min-height: 290px;
	padding-left: 4.5em;
	padding-right: 4.5em;
	padding-bottom: 2.5em;
	color: #ffffff;
}
#jobs .header p{
	font-size: 1.4em;
}

#jobs .header h2{
	padding-bottom: .5em;
	font-size: 5em;
}

#jobs .description{
	min-height: 500px;
	margin-left: 4.5em;
	margin-right: 4.5em;
}

#jobs h2{
	text-align: center;
	font-size: 4em;
	margin-bottom: .4em;
}

#jobs h3{
	margin-top: 1.3em;
	font-size: 2em;
}

#jobs h4{
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: .3em;
}

#jobs h5{
	padding-top: .2em;
	padding-bottom: .25em;
	text-align: center;
	margin-top: 1.6em;
	font-size: 1.7em;
}

#jobs p{
	margin-top: 1em;
	font-size: 1.1em;
	line-height: 1.4em;
	text-indent: 2em;
}

#jobs ul{
	margin-top: 1em;
	margin-left: 1.5em;
	list-style-type: circle;
}


#jobs li{
	margin-top: .2em;
	margin-bottom: .3em;
}





/*FOOTER*/

#footer{
	display: block;
	position:relative;
	text-align: left;
	margin-top: -3.4em;
	padding-right: 2em;
	padding-left: 2em;
	padding-bottom: .3em;
}

#footer p{
	display: block;
	width: 50%;
	min-width: 275px;
	padding-top: .2em;
	font-size: 1.25em;
}

/*#footer .tagline{
	display: inline-block;
	width: 30%;
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-top: .5em;
}*/

#footer ul{
	display: inline-block;
	text-align: right;
	float:right;
}
#footer ul a{
	margin-left:0;
	margin-right:0;
}

#footer ul img{
	display: inline-block;
	margin-left: -.25em;
	margin-bottom: -.1em;
}

#footer .legal{
	width:100%;
	display: block;
	margin-top: .6em;
}

#fixed-social{
	bottom: 0;
	right: 0;
	position: fixed;
}

/*EXIT INTENT POPUP*/


#bio_ep_content {
	padding: 8em 8em 5em 8em; 
	font-family: 'GTWalsheim', 'OpenSans';
	font-size: .4em;
	display: table-cell;
    vertical-align: middle;
	
}

#mc_popup_signup{

}

#mc_popup_signup h2{
	font-size: 8em;
	color: white;
	margin-top: ;
	margin-bottom: .6em;
}

#mc_popup_signup #mce-EMAIL{
	font-family: "GTWalsheim";
	font-size: 3em;
	padding-left: 10px;
	border: 0 none;
}
#mc_popup_signup .signup-button-mc{
	font-family: "GTWalsheim";
	font-size: 4.5em;
	font-weight: normal;
	color: white;
	background-color: #e9004b;
	border: 0 none;
	border-radius: 5em;
	margin-left: 1em;
	padding: .5em 1em .5em 1em;
	-webkit-appearance: none;
	cursor: pointer;
}

/*Adaptive Styles*/

@media screen and (max-width: 1800px){

	.kit-text{
		font-size: 14px;
	}
}
@media screen and (max-width: 1100px){

	.kit-text{
		font-size: 11px;
	}
	#oak {
		font-size:.8em;
	}
	#landing-page content{
		width: 70%;
	}

}

@media screen and (max-width: 850px){

	img#oak {
		/*width:1em;
		height:1em;*/
	}	
	.kit-text{
		font-size: 10px;
	}
	.kit-text p{
		font-size: 10px;
	}
	.button{
		font-size: 12px;
	}
	#oak {
		font-size:.6em;
	}

	#landing-page content{
		width: 100%;
	}


}

/*MOBILE STYLES*/
@media screen and (max-width: 700px){
	#main-nav{
		margin-top: 1.1em;
	}

	#main-nav ul li{
		font-size: 1.1em;
		/*margin-left: 1.25em;
		margin-right: 1.25em;*/
	}

	#nav-logo {
		width:2.5em;
		margin-left:-2em;
		padding-right:1em;
	}

	article.featured{
		width: 100%;
	}

	/*.video_bg{
		height:200px;
	}*/
	

	#oak {
		font-size:.5em;
	}


	.video-gif{
		width: 100%;
	}
	.kit-text{
		color: #ffffff;
		font-size: 15px;
		width:100%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	.kit-text p{
		font-size: 15px;
	}

	.button{
		font-size: 1.1em;
	}

	#contact{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	#sendEmail{
		margin-left: 1em;
		margin-right: 2em;
	}

	#landing-page content{
		padding-left: 8%;
		width: 100%;
		padding-right: 8%;
	}

}

@media screen and (max-width: 400px){
	#oak {
		font-size:.45em;
		min-height: 200px;
	}
	#landing-page{
		background-image: url("/assets/images/3dark.jpg"); 
		background-position: center;
		background-size: cover;
	}

	#landing-page video{
		display: none;
	}

	#landing-page content{
		font-size: 1.2em;
		padding-left: 8%;
		padding-right: 8%;
	}
	#landing-page content h2{
		font-size: 2.2em;
	}

	#landingmce-EMAIL{
		width: 80%;
	}

	#landing-page #landingmc-embedded-subscribe{
		font-size: .8em;
		width:60%;
		margin-left: 0em;
	}

/*	.video_bg{
		display:none;
	}*/

}